#v1 {
  margin: 0;
  font-family: Arial, sans-serif;
  position: relative;
  height: 100vh;
}

.menu-toggle {
  font-size: 30px;
  cursor: pointer;
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: 2px solid #000;
  text-align: center;
  line-height: 40px;
}

.menu {
  display: none;
  position: absolute;
  top: 60px;
  right: 10px;
  width: 150px;
  border: 1px solid #000;
  background-color: #f4f4f4;
}

.menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.menu a {
  text-decoration: none;
  color: #000;
}

//自己增加的
.menu #v2 {
	color: gold;
}

.dialog {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  z-index: 1;
}

.dialog-content {
  position: relative;
}

.close {
  position: absolute;
  top: 5px;
  right: 10px;
  color: #aaa;
  font-size: 20px;
  cursor: pointer;
}
